.map-wrapper {
  width: 100%;
  height: 100%;
}

.leaflet-container {
  height: 100%;
  /*height: 174%;*/
}

.map-zoom {
  /*position: absolute;*/
  z-index: calc(var(--navbar-z-index) - 2);
  color: var(--background);
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 2em;
  margin-top: 5px;
}

.leaflet-control-zoom,
.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
  background: var(--background) !important;
  color: white !important;
}

.leaflet-control-zoom-in:hover,
.leaflet-control-zoom-out:hover {
  background: var(--background-2) !important;
}
