.datepicker {
  position: static;
  display: inline-block;
  align-self: flex-start;
}

.month-custom-input {
  align-self: flex-start;
  align-items: center;
  background-color: white;
  color: black;
  font-size: 15px;
  border-radius: 5px;
  margin: 5px 0px;
  cursor: pointer;
}

.react-datepicker__input-container {
  width: inherit;
}

.react-datepicker__month-container {
  float: left;
  width: 200px;
}

.react-datepicker-wrapper {
  width: 100%;
}
