.datepicker {
  position: static;
  display: inline-block;
  position: relative;
  width: fit-content;
  align-self: flex-start;
}

.month-custom-input {
  align-self: flex-start;
  align-items: center;
  display: inline-block;
  background-color: white;
  color: black;
  min-width: 80px;
  min-height: 25px;
  border-radius: 7px;
  margin: 3px 0px;
  font-size: 15px;
  cursor: pointer;
}

.react-datepicker__input-container {
  width: fit-content;
}

.react-datepicker__month-container {
  float: left;
  width: 200px;
}

.react-datepicker-wrapper {
  width: 100%;
}
