.react-select__menu {
  background-color: #dddddd9b !important;
  z-index: 9999 !important;
}

.react-select-container {
  background-color: transparent;
  max-width: 250px !important;
  max-height: 45px !important;
}

.react-select__value-container {
  overflow-y: auto !important;
  max-height: 38px;
}

.react-select__control {
  font-size: small;
  max-width: 250px !important;
  max-height: 45px !important;
  overflow-y: scroll;
}

.react-select__placeholder {
  font-size: 14px;
}

.react-select__indicators {
  color: black;
  font-size: 12px;
}

.react-select__menu-list {
  background-color: #dddddd9b;
  color: var(--background);
  font-size: 12px;
}

.react-select__option {
  background-color: black;
  color: black;
  font-size: 12px;
}
