.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  position: sticky;
  gap: 2%;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--background);
  z-index: var(--navbar-z-index);
  font-family: 'Noto Sans JP', sans-serif;
}

.nav-container {
  position: relative;
  width: 15%;
  height: 100%;
  margin-top: 0.7%;
  margin-left: 0.4%;
  align-self: flex-start;
}

.picker-container {
  position: relative;
  width: 15%;
  height: 100%;
  margin-top: 0.7%;
  align-self: flex-start;
}

.filter-container {
  position: relative;
  width: 5%;
  height: 100%;
  margin-top: 1%;
  align-self: flex-start;
}

.nav-tab {
  font-size: 1em;
  color: white;
  text-decoration: none;
  margin: 0px 30px;
  padding: 6px 11px;
  border-radius: 15%;
}

.labelling {
  display: fixed;
  flex-direction: column;
  justify-content: center;
  margin-top: -3%;
  font-size: 10px;
  /* overflow: hidden; */
  white-space: nowrap;
}

.nav-tab:hover {
  color: var(--highlight-text);
}

.nav-tab.active {
  color: var(--highlight-text);
  background: var(--highlight-background);
}
