.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--background);
  z-index: var(--navbar-z-index);
  font-family: 'Noto Sans JP', sans-serif;
}

.nav-container {
  width: 20%;
  height: 100%;
  margin-top: 1%;
  align-self: flex-start;
}

.filter-container {
  width: 10%;
  height: 100%;
  margin-top: 1%;
  align-self: flex-start;
}

.nav-tab {
  font-size: 1em;
  color: white;
  text-decoration: none;
  margin: 0px 30px;
  padding: 6px 11px;
  border-radius: 15%;
}

.nav-tab:hover {
  color: var(--highlight-text);
}

.nav-tab.active {
  color: var(--highlight-text);
  background: var(--highlight-background);
}
