.nav-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  align-items: center;
  position: sticky;
  gap: 2%;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--background);
  z-index: var(--navbar-z-index);
  font-family: 'Noto Sans JP', sans-serif;
}

.nav-container {
  position: relative;
  width: 15%;
  min-width: fit-content;
}

.picker-container {
  position: relative;
  width: 15%;
  min-width: fit-content;
  height: 38px;
}

.filter-container {
  position: relative;
  width: 6%;
  min-width: fit-content;
}

.nav-tab {
  font-size: 1em;
  color: white;
  text-decoration: none;
  margin: 0px 30px;
  padding: 6px 11px;
  border-radius: 15%;
}

.labelling {
  display: fixed;
  flex-direction: column;
  justify-content: center;
  margin-top: -3%;
  font-size: 10px;
  /* overflow: hidden; */
  white-space: nowrap;
}

.inspect-button-div {
  position: relative;
  width: 6%;
  min-width: fit-content;
  margin-left: auto;
  margin-right: 20px;
}

.inspect-button {
  font-size: inherit; /* Inherit font size */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Add a pointer cursor on hover */
  text-decoration: none; /* Remove underlines on hover */
  background: #7f6fe9;
  border-radius: 2px;
  padding: 7px 20px 7px 20px;
}
