.palette-wrapper {
  position: fixed;
  top: var(--navbar-z-index);
  z-index: calc(var(--navbar-z-index) - 3);
  color: var(--background);
  transform: translateY(-100%);
  transition: transform 200ms ease;
}

.palette-show {
  transform: translateY(0%);
  z-index: calc(var(--navbar-z-index) - 1);
}

.palette-container {
  background: var(--background);
  padding: 70px 0px 40px 0px;
  overflow: hidden;
}

.palette-hover {
  position: absolute;
  padding: 10px 15px;
  font-size: 2em;
  border-radius: 5px;
  margin: 20px;
  background: var(--background);
  cursor: pointer;
}

.palette-hover:hover {
  background: var(--background-2);
}
