.progress-bar-container {
  position: static;
  display: inline-block;
  position: relative;
  width: fit-content;
  align-self: flex-start;
  justify-content: center;
  align-items: center;
  padding-bottom: 0;
  z-index: 99999999;
}
