.road-image,
.road-image-surface-container {
  height: 100%;
}

.road-image {
  width: 100%;
}

/** Selector and information text **/

/* for the selector of graph type */
.graph-type-selector {
  position: relative;
  width: 15%;
  height: 38px;
  margin-left: 20px;
}

/* for the selector of image type */
.road-image-selector {
  position: relative;
  width: 15%;
  height: 28px;
  margin-bottom: 10px;
  margin-left: 50px;
}

.road-image-header {
  position: fixed;
  width: 150px;
  height: 70px;
}

.road-image-header-container {
  display: flex;
  justify-content: center;
}

.road-image-info {
  font-size: 20px;
  padding: 0;
  margin: 5px 0 0;
}

/** Images formatting **/

.road-image-surface-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
  overflow-x: scroll;
  overflow-y: hidden;
}

.road-image-surface-image canvas {
  height: 100%;
}
