/* prettier-ignore-file */
/* src/styles.css */

/* Define styles for the top bar */
.top-bar {
  background-color: #333; /* Example color for the top bar */
  height: 50px;
  display: flex; /* Enable flex layout */
  align-items: center; /* Vertically center content */
  justify-content: flex-start; /* Align content to the left (40px margin) */
}

/* Define styles for the middle area */
.road-image,
.map-area {
  /* background-color: #eee; Example color for the middle area */
  height: 100%; /* Occupying half of the page vertically */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: hidden;
}

/* Define styles for the plot area */
.plot-area {
  background-color: #333; /* Grey with 50% opacity */
  height: 40vh;
}

/* To center the Return button vertically  */
.btnLinkContainer {
  display: flex; /* Enable flex layout */
  align-items: center; /* Vertically center content */
  justify-content: flex-start; /* Align content to the left (40px margin) */
  padding-left: 30px;
  background: none; /* Remove background color */
  border: none; /* Remove borders */
  font-size: inherit; /* Inherit font size */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Add a pointer cursor on hover */
  text-decoration: none; /* Remove underlines on hover */
}

.btnWhite {
  color: #fff;
  text-decoration: 'none';
  background: none;
}

/* _____________________________________________________ */
/* Style for the toggle button */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
}

/* Style for the slider (the switch itself) */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #2196f3;
  border-radius: 20px;
  transition: 0.4s;
}

/* Style to make the slider round */
.slider:before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 50%;
  left: 2px;
  top: 2px;
  transition: 0.4s;
}

.road-conditions-graph {
  position: relative;
  left: 2vw;
  right: 2vw;
  width: 96vw;
  /*display: flex;*/
  justify-content: center;
  align-items: center;
}

/* Style to change the background color when switched on */
input:checked + .slider {
  background-color: #4caf50;
}

/* Style to move the slider to the right when switched on */
input:checked + .slider:before {
  transform: translateX(20px);
}

/* Hide the default checkbox input */
input[type='checkbox'] {
  display: none;
}

/* Style for the toggle button container */
.topBar-container {
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Add space between items */
}

.toggle-container {
  padding-right: 30px;
  display: flex;
  align-items: center; /* Vertically center items */
  justify-content: space-between; /* Add space between items */
}

/* Style for the toggle button label */
.toggle-label {
  display: flex;
  align-items: center; /* Vertically center items */
}

/* Style for the text on both sides of the switch */
.toggle-text {
  margin: 0 10px 0 10px; /* Adjust the spacing as needed */
}

/* Style for image Gallery */

.image-gallery {
  display: flex;
}

.image-thumbnail:hover {
  transform: scale(1.1); /* Increase the size on hover (optional) */
}

/* CSS (styles.css or within a styled-components setup) */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  z-index: 999; /* Ensure the overlay appears above other content */
  justify-content: center;
  align-items: center;
}

.overlay img {
  max-width: 90%; /* Adjust the size of the modal image as needed */
  max-height: 90vh; /* Limit the height of the modal image to 90% of the viewport height */
}

/* Image gallery scroll */

.imageGallery_container {
  background-color: #999;
  margin-top: auto;
  overflow: auto;
  white-space: nowrap;
  overflow: hidden;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image-gallery-container {
  display: flex; /* Add display: flex */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children vertically */
  position: relative;
  scroll-behavior: smooth;
}

.image-gallery-page {
  display: flex;
  transition: scroll 0.5s;
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%; /* Set a maximum width */
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
  /* For Firefox */
  -ms-overflow-style: none;
  /* For Internet Explorer and Edge */
  overflow-y: hidden; /*This gets rid of that annoying scroll rect on the right side of the gallery*/
}

.image-gallery-page::-webkit-scrollbar {
  display: none;
}

.image-gallery-page.center-images .image-container {
  justify-content: center;
  display: flex;
  width: 100%;
}

.image-container {
  display: flex;
  align-items: center;
  margin-left: 0.5vh;
  transition: transform 0.3s ease-out;
}

.image-thumbnail {
  width: 120px; /* Set the fixed width */
  height: 105px; /* Set a fixed height to maintain aspect ratio */
  object-fit: cover; /* Preserve aspect ratio and cover the container */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
  margin-right: 2px;
  margin-top: -11px;
  text-align: center;
}

.arrow-button {
  background-color: #fff;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1000;
  top: 15px;
  /* color: #222; */
}

.left-arrow {
  left: 10px;
}

.right-arrow {
  right: 10px;
}

.image-gallery-container:hover .arrow-button {
  opacity: 1;
}

.arrow-button:hover {
  background-color: #f7f7f7; /* Slightly darker background on hover */
}

.image-gallery-page.center-images {
  justify-content: center;
}

/* Css for click image pop-up */
.image-click-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure the modal is displayed above other components */
}
.image-modal-content {
  position: relative;
  max-width: 60vw;
  max-height: 50vw;
  overflow: auto;
  background-color: white;
  z-index: 1100; /* Ensure content inside the modal is above the background */
}
.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.image-modal-content img {
  height: 60vw;
  width: auto;
}

.close-icon {
  color: #333;
  stroke: #333;
  stroke-width: 0.5;
}
