.road-conditions-page-wrapper {
  height: calc(100vh - var(--navbar-height));
  display: flex;
  flex-direction: column;
}

.road-conditions-graph {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.top,
.bottom {
  flex: 1;
  display: flex;
  width: 100vw;
  position: relative;
  justify-content: center;
  overflow: auto;
}

.resizable-border {
  cursor: row-resize;
  width: 100%;
  border-bottom: 2px solid #000;
}

.resizable-border.resizing {
  border-color: red; /* Highlight border on resizing */
}
