.geoapify-autocomplete-input {
  outline: none;
  line-height: 36px;
  height: 36px;
  padding: 0 31px 0 7px;
  width: 80%;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  font-size: 14px;
}

.geoapify-autocomplete-items {
  position: absolute;
  left: 0%; /* This need to be improve later to align with the left side of search input box*/
  top: calc(100% + 2px);
  width: 120%;
  background-color: #ddddddbd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  background-color: #f6f6f6;
  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  z-index: calc(var(--navbar-z-index)+20);
}

.geoapify-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  width: 250px;
  color: #333;
  font-size: 14px;
}

.geoapify-autocomplete-items div:hover {
  background-color: #eef4fc;
  width: 250px;
}

.geoapify-autocomplete-items .active {
  background-color: #eef4fc;
  width: 250px;
}

.geoapify-autocomplete-item {
  display: inline-flex;
  justify-content: space-between;
  margin-right: 0px;
  width: 230px;
  flex-direction: row;
  align-items: left;
}

.geoapify-autocomplete-item .icon {
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  margin-left: 6px;
  width: 20px;
  height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-item .icon svg {
  height: 16px;
  color: #2e75f1;
}

.geoapify-autocomplete-item .icon.emoji {
  color: unset;
  width: 100px;
  font-size: 20px;
  opacity: 0.9;
}

/* Address text format*/
.geoapify-autocomplete-item .address {
  display: flex;
  width: 230px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 12px;
}

.geoapify-autocomplete-item .address .secondary-part {
  margin: 0;
  text-align: left;
}

.geoapify-close-button {
  position: absolute;
  right: 0%;
  width: 30px;
  top: 0px;
  height: 100%;
  display: none;
  align-items: center;
}

.geoapify-close-button.visible {
  display: flex;
}

.geoapify-close-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.geoapify-close-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .main-part .non-verified {
  color: #ff4848;
}

.geoapify-autocomplete-items .secondary-part {
  margin-left: 5px;
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
}
