.geoapify-autocomplete-input {
  outline: none;
  line-height: 36px;
  height: 36px;
  padding: 0 31px 0 7px;
  width: 80%;

  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  font-size: 14px;
}

.geoapify-autocomplete-items {
  position: absolute;
  top: calc(100% + 2px);
  width: 280px;

  background-color: #ddddddbd;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;

  box-shadow: 0px 2px 10px 2px rgba(0, 0, 0, 0.1);
  z-index: calc(var(--navbar-z-index)+20);
}

.geoapify-autocomplete-items div {
  padding: 10px;
  cursor: pointer;
}

.geoapify-autocomplete-items div:hover {
  background-color: rgba(212, 43, 198, 0.223);
  width: 250px;
}

.geoapify-autocomplete-items .active {
  background-color: rgba(212, 43, 198, 0.223);
  width: 250px;
}

.geoapify-autocomplete-item {
  display: inline-flex;
  margin-right: 5px;
  width: 200px;
  flex-direction: row;
  align-items: left;
}

.geoapify-autocomplete-item .icon {
  display: inline-flex;
  margin-right: 5px;
  width: 200px;
  height: 24px;
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-item .icon.emoji {
  color: unset;
  width: 100px;
  font-size: 20px;
  opacity: 0.9;
}

.geoapify-close-button {
  position: absolute;
  right: 8px;
  width: 30px;
  top: 0px;

  height: 100%;
  display: none;
  align-items: center;
}

.geoapify-close-button.visible {
  display: flex;
}

.geoapify-close-button {
  color: rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

.geoapify-close-button:hover {
  color: rgba(0, 0, 0, 0.6);
}

.geoapify-autocomplete-items .main-part .non-verified {
  color: #ff4848;
}

.geoapify-autocomplete-items .secondary-part {
  margin-left: 5px;
  font-size: small;
  color: rgba(0, 0, 0, 0.6);
}
