.input-selector-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input-selector-container .input {
  width: 100%;
  height: 100%;
  background: white;
  color: black;
  cursor: pointer;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
}

.input-selector-container .labelling {
  padding: 0;
  margin: 0;
  font-size: 12px;
}
