# use Ubuntu 22.04 & Node 18
name: Build & Test

on: [pull_request]

jobs:
  backend:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: backend
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install dependencies
        run: npm ci
      - name: Run prettier
        run: npx prettier . --check
      - name: Build
        run: npm run build
      - name: Tests
        run: npm run test
      - name: Tests end-to-end
        run: npm run test:e2e

  frontend:
    runs-on: ubuntu-22.04
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v3
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Install dependencies
        run: npm ci
      - name: Run prettier on frontend
        run: npx prettier . --check
      - name: Build
        run: npm run build
      - name: Tests
        run: npm run test
